<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        
        <main id="main-content">
            <%- body %>
        </main>

    </body>
    <%- include('../partials/footer.ejs') %>
</html>